<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
</head>
<body>
   <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a asp-controller="home" asp-action="index">
                            <img src="img/movie.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a asp-controller="home" asp-action="index">Bosh Sahifa</a></li>
                                <li><a>Kinolar <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a asp-controller="kino" asp-action="tarjima">Tarjima kinolar</a></li>
                                        <li><a asp-controller="kino" asp-action="premyera">Premyeralar</a></li>
                                        <li><a asp-controller="kino" asp-action="ozbek">O'zbek kinolar</a></li>
                                        <li><a asp-controller="kino" asp-action="hind">Hind kinolar</a></li>
                                        <li><a asp-controller="kino" asp-action="multfilm">Multfilm</a></li>
                                    </ul>
                                </li>

                                <li><a asp-controller="serial" asp-action="index">Seriallar</a></li>

                                <li><a>Janrlar <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a asp-controller="janrlar" asp-action="jangari">Jangari</a></li>
                                        <li><a asp-controller="janrlar" asp-action="fantastika">Fantastika</a></li>
                                        <li><a asp-controller="janrlar" asp-action="melodramma">Melodramma</a></li>
                                        <li><a asp-controller="janrlar" asp-action="komediya">Komediya</a></li>
                                        <li><a asp-controller="janrlar" asp-action="qorqinchli">Qo'rqinchli</a></li>
                                        <li><a asp-controller="janrlar" asp-action="sarguzasht">Sarguzasht</a></li>
                                        <li><a asp-controller="janrlar" asp-action="tarixiy">Tarixiy</a></li>
                                        <li><a asp-controller="janrlar" asp-action="drama">Drama</a></li>
                                    </ul>
                                </li>

                                <li><a href="./categories.html">Yil <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="./anime-watching.html">2022-2020</a></li>
                                        <li><a href="./anime-details.html">2020-2015</a></li>
                                        <li><a href="./blog-details.html">2015-2010</a></li>
                                        <li><a href="#">2010-...</a></li>
                                    </ul>
                                </li>

                                <li><a asp-controller="treyler" asp-action="index">Treyler</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a asp-controller="register" asp-action="index"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a asp-controller="home" asp-action="index"><img src="~/img/movie.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a asp-controller="home" asp-action="index">Bosh Sahifa</a></li>
                        <li><a asp-controller="kino" asp-action="ozbek">Kinolar</a></li>
                        <li><a asp-controller="serial" asp-action="index">Seriallar</a></li>
                        <li><a asp-controller="janrlar" asp-action="drama">Janrlar</a></li>
                        <li><a href="#">Yillar</a></li>
                        <li><a asp-controller="treyler" asp-action="index">Treyler</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://t.me/Mamajonoff" target="_blank">Mamajonoff</a>
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

              </div>
          </div>
      </div>
  </footer>
  <!-- Footer Section End -->
   <!-- Js Plugins -->
<script src="~/js/jquery-3.3.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/player.js"></script>
<script src="~/js/jquery.nice-select.min.js"></script>
<script src="~/js/mixitup.min.js"></script>
<script src="~/js/jquery.slicknav.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
